{
  "jobs": [
    {
      "functionLocation": "/v2_integration/syncGoogleSheet.js",
      "functionName": "export10DaysToGoogleSheets",
      "description": "Sync next 10 days of bookings to Google Sheets (V2 Path)",
      "executionConfig": {
        "cronExpression": "0 */4 * * *"
      }
    }
  ]
}
